<div class="container-fluid text-center">
    <h1>WELCOME!!!</h1>
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <%= link_to "LOGOUT", destroy_user_session_path(@user), method: "delete", class: "btn btn-danger" %>
    </div>
</div>
